html, body {
    margin: 0px;
    background-color:darkslategray !important;
    color: white !important;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -110px;
}