<div class="flex flex-col p-4 rounded-lg bg-purple-400 text-lime-900 font-medium border-2 border-purple-700 fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center items-center"">
    <h1 id="pomodorosModalTitle" class="text-center text-3xl font-bold text-purple-900">Pomodoros</h1>
    <section id="pomodorosModalPreview" class="flex flex-row gap-2 mt-6 w-5/6 justify-center self-center"></section>
    <section id="pomodorosModalTimer" class="flex flex-row gap-2 mt-2 w-5/6 justify-center self-center text-9xl font-bold text-purple-900">00:00</section>
    <button id="pomodorosModalClose" class="bg-red-500 hover:bg-red-700 text-red-100 font-bold px-4 py-1 rounded self-center border-2 border-red-700 mt-4">Cerrar</button>
</div>